@import "@/styles/_colors.scss";
@import "@/styles/_sizes.scss";

.navbar {
  background-color: $secondary-bg-color;
  border-radius: $border-radius;
  box-shadow: $shadow-color;
  width: 100%;
  position: sticky;
  top: 90px;

  &::-webkit-scrollbar {
    display: none;
  }

  .item {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: $border-radius;
    padding: 15px 20px;
    transition: $hover-transition;

    &:hover {
      background-color: $gray;
    }

    .icon {
      width: 30px;
      color: $blue;
    }

    span {
      font-size: $base-font-size;
      font-weight: $bold-font;
      color: $base-font-color;
    }
  }
}
