$primary-bg-color: #fbfcfe;
$secondary-bg-color: #fff;

$heading-font-color: #212529;
$secondary-heading-font-color: #555;
$base-font-color: #adb5bd;

$secondary-font-color: #fff;
$shadow-color: 0px 0px 14px 3px rgba(103, 99, 99, 0.1);

$gray: #eee;
$gray-hover: #dbdbdb;
$blue: #5b95f3;
$blue-hover: #92b7f2;
$red: red;
$red-hover: #ff8a8a;
$marron: #890000;
