$primary-bg-color: #fbfcfe;
$secondary-bg-color: #fff;
$heading-font-color: #212529;
$secondary-heading-font-color: #555;
$base-font-color: #adb5bd;
$secondary-font-color: #fff;
$shadow-color: 0 8px 30px rgba(0, 0, 0, 0.05);

$gray: #eee;
$gray-hover: #dbdbdb;
$blue: #5b95f3;
$blue-hover: #92b7f2;
