@import "@/styles/_colors.scss";
@import "@/styles/_sizes.scss";

.createPost {
  box-shadow: $shadow-color;
  border-radius: $border-radius;
  background-color: $secondary-bg-color;

  .container {
    padding: 20px;

    .header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .info {
        display: flex;
        gap: 20px;
        font-size: $base-font-size;
        font-weight: 500;
        color: $base-font-color;

        .icon {
          padding: 6px;
          font-size: 37px;
          border-radius: 50%;
          background-color: $gray;
          color: $blue;
        }
      }
    }

    .content {
      margin: 20px 0px;

      textarea {
        background-color: $secondary-bg-color;
        border: 2px solid $gray;
        border-radius: $border-radius;
        width: 100%;
        min-height: 100px;
        padding: 20px;
        font-weight: 500;
        font-size: $base-font-size;
      }

      .previewImage {
        width: 100%;
        max-height: 500px;
        object-fit: cover;
        margin-top: 20px;
        border-radius: 8px;
      }
    }
  }

  .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    .photo {
      display: flex;
      align-items: center;
      gap: 6px;
      font-size: $base-font-size;
      cursor: pointer;

      .icon {
        font-size: 28px;
        color: $green;
      }

      span {
        font-weight: 500;
        color: $base-font-color;
      }
    }
  }
}
